<h1>Concert formulaire</h1>
<form (ngSubmit)="save()" [formGroup]="concertForm">
  <div class="form-group">
    <label>Id</label>
    <input class="form-control" readonly />
  </div>
  <div class="form-group">
    <label>Nom</label>
    <input class="form-control" name="nomControl" [formControl]="nomControl" />
  </div>
  <div class="form-group">
    <label>Date</label>
    <input
      class="form-control"
      name="nomControl"
      type="date"
      [formControl]="dateControl"
    />
  </div>

  <div class="form-group">
    <label>Prix</label>
    <input
      class="form-control"
      name="prixControl"
      [formControl]="prixControl"
    />
  </div>
  <div class="form-group">
    <label>Lieu</label>
    <input
      class="form-control"
      name="lieuControl"
      [formControl]="lieuControl"
    />
  </div>
  <div class="form-group">
    <label>Nombre de places</label>
    <input
      class="form-control"
      name="placesControl"
      [formControl]="placesControl"
    />
  </div>
  <div class="form-group">
    <label>Artistes</label>
    <input
      class="form-control"
      name="artistesControl"
      [formControl]="artistesControl"
    />
  </div>
  <div>
    <button type="submit" [disabled]="concertForm.invalid">
      Valider l'ajout du concert
    </button>
  </div>
</form>
