<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
  .w3-row-padding img {
    margin-bottom: 12px;
  }
  /* Set the width of the sidebar to 120px */
  .w3-sidebar {
    width: 120px;
    background: #222;
  }
  /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
  #main {
    margin-left: 120px;
  }
  /* Remove margins from "page content" on small screens */
  @media only screen and (max-width: 600px) {
    #main {
      margin-left: 0;
    }
  }
</style>

<body class="w3-black">
  <div class="w3-padding-large">
    <!-- Form Section -->
    <div class="w3-padding-64 w3-content">
      <h2 class="w3-text-light-grey">Ajout d'un concert</h2>
      <hr style="width: 200px" class="w3-opacity" />

      <form (ngSubmit)="save()" [formGroup]="concertForm">
        <p class="form-group">
          <label>Nom</label>
          <input
            class="form-control w3-input w3-padding-16"
            name="nomControl"
            [formControl]="nomControl"
          />
        </p>
        <p class="form-group">
          <label>Date</label>
          <input
            class="form-control w3-input w3-padding-16"
            name="nomControl"
            type="date"
            [formControl]="dateControl"
          />
        </p>
        <p class="form-group">
          <label>Prix</label>
          <input
            class="form-control w3-input w3-padding-16"
            name="prixControl"
            [formControl]="prixControl"
          />
        </p>
        <p class="form-group">
          <label>Lieu</label>
          <input
            class="form-control w3-input w3-padding-16"
            name="lieuControl"
            [formControl]="lieuControl"
          />
        </p>
        <p class="form-group">
          <label>Nombre de places</label>
          <input
            class="form-control w3-input w3-padding-16"
            name="placesControl"
            [formControl]="placesControl"
          />
        </p>
        <p class="form-group">
          <label>Artistes</label>
          <input
            class="form-control w3-input w3-padding-16"
            name="artistesControl"
            [formControl]="artistesControl"
          />
        </p>
        <p>
          <button
            type="submit"
            class="w3-button w3-light-grey w3-padding-large"
            [disabled]="concertForm.invalid"
            [routerLink]="['/concertform']"
            routerLinkActive="active"
          >
            Valider l'ajout du concert
          </button>
        </p>
      </form>
      <!-- End Contact Section -->
    </div>

    <!-- Footer -->

    <!-- END PAGE CONTENT -->
  </div>
</body>
