<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
  .w3-row-padding img {
    margin-bottom: 12px;
  }
  /* Add a left margin to the "page content" that matches the width of the sidebar (140px) */
  #main {
    margin-left: 140px;
    width: 90%;
  }
  /* Remove margins from "page content" on small screens */
  @media only screen and (max-width: 600px) {
    #main {
      margin-left: 0;
    }
  }
</style>

<body class="w3-black">
  <!-- Nav bar -->
  <app-artist-navbar *ngIf="navArtiste"></app-artist-navbar>
  <app-fan-navbar *ngIf="!navArtiste"></app-fan-navbar>
  <div class="w3-padding-large" id="main">
    <!-- Image de bannière -->
    <div class="w3-mycontainer w3-center">
      <div>
        <img
          src="/assets/images/Kygo4.jpg"
          style="width: 100%; height: 450px; object-fit: cover; top: -100px"
        />
      </div>
      <br /><br />

      <!-- Section détails de l'artiste -->
      <div class="w3-left-align w3-auto">
        <div class="w3-row">
          <div class="w3-third">
            <!-- Photo de l'artiste -->
            <img
              src="/assets/images/kygo5.jpg"
              class="w3-circle"
              style="width: 300px; height: 300px; object-fit: cover"
            />
          </div>
          <!-- Section description et nom de l'artiste -->
          <div class="w3-col.s7">
            <div>
              <h1 class="w3-musifan-color" id="bloc1">
                {{ artiste.nomArtiste }}
              </h1>
              <!-- Si connecté en artiste -->
              <div *ngIf="navArtiste" id="bloc2" class="w3-greypurple">
                <i class="fa fa-pencil-square w3-xxlarge"></i> Modifier le
                profil
              </div>
              <!-- Si connecté en fan -->
              <div *ngIf="!navArtiste" id="bloc2" class="w3-greypurple">
                <i class="fa fa-plus-square w3-xxlarge"></i> Suivre l'artiste
              </div>
            </div>
            <br /><br />
            <p *ngIf="artiste.description">
              {{ artiste.description }}
            </p>
            <p *ngIf="!artiste.description && navArtiste" class="w3-text-grey">
              Vous n'avez pas encore ajouté de description. Cliquez sur
              "Modifier le profil" pour en ajouter un.
            </p>
          </div>
        </div>
        <br /><br /><br />

        <!-- Section FEED -->
        <div>
          <h2 class="w3-text-musifan-color" id="bloc1">Feed</h2>
          <div *ngIf="navArtiste" id="bloc2" class="w3-greypurple">
            <i class="fa fa-plus-square w3-xxlarge"></i> Ajouter une publication
          </div>
          <hr style="width: 200px" class="w3-opacity" />
        </div>
        <br /><br /><br />

        <!-- Section CONCERTS -->
        <div>
          <h2 class="w3-text-musifan-color" id="bloc1">Concerts</h2>
          <div *ngIf="navArtiste" id="bloc2" class="w3-greypurple">
            <i class="fa fa-plus-square w3-xxlarge"></i> Ajouter un concert
          </div>
          <hr style="width: 200px" class="w3-opacity" />
        </div>
        <table class="w3-table">
          <thead>
            <tr class="w3-musifan-color">
              <th>Nom du concert</th>
              <th>Date</th>
              <th>Lieu</th>
              <th>Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of artiste.concerts">
              <td>
                <a
                  [routerLink]="['/concert', c.id]"
                  routerLinkActive="active"
                  >{{ c.nom }}</a
                >
              </td>
              <td>{{ c.date }}</td>
              <td *ngIf="!!c.lieu">
                <a [routerLink]="['/lieu', c.id]" routerLinkActive="active">{{
                  c.lieu.nom
                }}</a
                >, {{ c.lieu.ville }}, {{ c.lieu.pays }}
              </td>
              <td *ngIf="!c.lieu"></td>
              <td>{{ c.prix }} €</td>
              <!-- Si connecté en fan -->
              <td *ngIf="!navArtiste">
                <button
                  [routerLink]="['/concert', c.id]"
                  routerLinkActive="active"
                >
                  Acheter un billet
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <br /><br /><br />

        <!-- Section MUSIQUES -->
        <div>
          <h2 class="w3-text-musifan-color" id="bloc1">Albums</h2>
          <div *ngIf="navArtiste" id="bloc2" class="w3-greypurple">
            <i class="fa fa-plus-square w3-xxlarge"></i> Ajouter un album
          </div>
          <hr style="width: 200px" class="w3-opacity" />
        </div>
        <table class="w3-table">
          <thead>
            <tr class="w3-musifan-color">
              <th>Nom de l'album</th>
              <th>Date de sortie</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of artiste.albums">
              <td>
                <a [routerLink]="['/album', a.id]" routerLinkActive="active">{{
                  a.titre
                }}</a>
              </td>
              <td>{{ a.date }}</td>
              <td *ngIf="!navArtiste">
                <button>Ajouter album aux favoris</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div><app-footer></app-footer></div>
</body>
