<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
  .w3-row-padding img {
    margin-bottom: 12px;
  }
  /* Add a left margin to the "page content" that matches the width of the sidebar (140px) */
  #main {
    margin-left: 140px;
    width: 90%;
  }
  /* Remove margins from "page content" on small screens */
  @media only screen and (max-width: 600px) {
    #main {
      margin-left: 0;
    }
  }
</style>

<body class="w3-black">
  <app-fan-navbar></app-fan-navbar>
  <div class="w3-padding-large" id="main">
    <div class="w3-padding-64 w3-auto">
      <div>
        <h2 class="w3-text-musifan-color" id="bloc1">Ma liste d'artistes</h2>
        <div
          id="bloc2"
          class="w3-greypurple grow"
          [routerLink]="['/recherche/artiste']"
          routerLinkActive="active"
          style="cursor: pointer"
        >
          <i class="fa fa-search w3-xlarge"></i> Rechercher un artiste
        </div>
      </div>

      <hr style="width: 200px" class="w3-opacity" />
      <br />
      <div *ngFor="let a of utilisateur.artistes">
        <!-- <a [routerLink]="['/artiste', a.id]">{{ a.nomArtiste }}</a> -->
        <div class="w3-quarter w3-center grow">
          <img
            src="/assets/images/Kygo2.jpg"
            class="w3-circle"
            width="180"
            height="180"
            style="object-fit: cover; cursor: pointer"
            [routerLink]="['/artiste', a.id]"
            routerLinkActive="active"
          />
          <p class="w3-center" style="cursor: pointer">
            <a>{{ a.nomArtiste }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
