<form>
  <h3>Création d'un compte</h3>
  <!-- <span class="a">
    <p>Vous êtes un :</p>
    <div>
      <input type="radio" name="fan" id="fan" value="fan" />
      <label for="fan"> fan </label>
    </div>
    <div>
      <input type="radio" name="optradio" />
      <label type="label"> Artiste </label>
    </div>
  </span> -->
  <div class="form-group">
    <label for="prenom">Prénom</label>
    <input type="text" placeholder="Prénom" id="prenom" />

    <label for="nom">Nom</label>
    <input type="text" placeholder="Nom" id="nom" />

    <label for="telephone">Téléphone</label>
    <input type="tel" placeholder="Téléphone" id="telephone" />
  </div>
  <div class="form-group">
    <label for="mail">Email</label>
    <input type="email" placeholder="Email" id="mail" />

    <label for="password">Mot de passe</label>
    <input type="password" placeholder="Password" id="password" />

    <label for="password">Répéter mot de passe</label>
    <input type="password" placeholder="Password" id="password" />
  </div>
  <button>Créer un compte</button>
</form>
