<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" /> -->

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle-1">
    <img
      src="/assets/images/Logo-site-MusiFan.gif"
      title="Logo"
      alt="c'est un logo"
      height="100"
      width="100"
    />
  </div>
  <div class="w3-display-middle-2">
    <h1 class="w3-jumbo w3-animate-top">Musifan</h1>
  </div>
  <div class="w3-display-middle-3 w3-center">
    <button
      routerLink="/connexion"
      routerLinkActive="active"
      class="w3-center w3-button"
    >
      Connexion
    </button>
    <p class="w3-text-white">
      Pas encore de compte ?
      <a routerLink="/signin" routerLinkActive="active">Créer un compte</a>
    </p>
  </div>

  <div class="w3-display-bottomright w3-padding-large">
    <p class="w3-musifan-color">
      Powered by
      <a
        href="https://www.soprasteria.com/fr"
        target="_blank"
        class="w3-musifan-color"
        >Sopra Steria</a
      >
    </p>
  </div>
</div>

<!-- <div>
  <a routerLink="/concertform" routerLinkActive="active"
    >Test formulaire concert
  </a>
</div> -->
