<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle-1"></div>
  <div>
    <h1>Musifan</h1>
  </div>
  <div>
    <a routerLink="/connexion" routerLinkActive="active">Connexion </a>
    <p>
      Pas encore de compte ?
      <a routerLink="/signin" routerLinkActive="active">Créer un compte</a>
    </p>
  </div>

  <div>
    <p>
      Powered by
      <a href="https://www.soprasteria.com/fr" target="_blank">Sopra Steria</a>
    </p>
  </div>
</div>

<div>
  <a routerLink="/concertform" routerLinkActive="active"
    >Test formulaire concert
  </a>
</div>
