<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
  .w3-row-padding img {
    margin-bottom: 12px;
  }
  /* Add a left margin to the "page content" that matches the width of the sidebar (140px) */
  #main {
    margin-left: 140px;
    width: 90%;
  }
  /* Remove margins from "page content" on small screens */
  @media only screen and (max-width: 600px) {
    #main {
      margin-left: 0;
    }
  }
</style>

<body class="w3-black">
  <app-fan-navbar></app-fan-navbar>
  <div class="w3-padding-large" id="main">
    <div class="w3-padding-64 w3-auto">
      <h2 class="w3-text-musifan-color">Concerts</h2>
      <hr style="width: 200px" class="w3-opacity" />
      <table class="w3-table">
        <thead>
          <tr>
            <th>nom</th>
            <th>date</th>
            <th>prix</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of utilisateur.concerts">
            <td>{{ c.nom }}</td>
            <td>{{ c.date }}</td>
            <td>{{ c.prix }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
